<div class="course-card">
    <div class="course-card__description">
      <div class="course-card__description-title">{{title}}</div>
      <div class="course-card__description-text">{{description}}</div>
    </div>
    <div class="course-card__info">
        <div class="course-card__info-text">
            <div>
              <b>Authors: </b>
              {{authors}}
            </div>
            <div><b>Duration: </b>{{duration && (duration | fomattingMinutes)}}</div>
            <div><b>Created: </b>{{creationDate | date: 'dd.MM.yyyy'}}</div>
        </div>
        <div class="course-card__info-actions">
            <app-button buttonName="show course"></app-button>
            <ng-content *ngIf="isEditable"></ng-content>
        </div>
    </div>
</div>
