<div class="modal__backdrop">
    <div class="modal__container">
        <div class="modal__title">
            <div>{{title}}</div>
            <div class="modal__icon">
                <app-button iconName="xmark" (click)="sendResult()"></app-button>
            </div>
        </div>
        <div class="modal__message">{{message}}</div>
        <div class="modal__actions">
            <div class="modal__btn">
                <app-button [buttonName]="okButtonText" (click)="sendResult('ok')"></app-button>
            </div>
            <div class="modal__btn">
                <app-button [buttonName]="cancelButtonText" (click)="sendResult('cancel')"></app-button>
            </div>
        </div>
    </div>
</div>
