.app-search {
  display: flex;
  width: 100%;
  align-items: baseline;

  & input {
    margin-right: 24px;
    height: 44px;
    width: 100%;
    border: solid 1px #CFCFCF;
    border-radius: 4px;
  
    &.ng-invalid.ng-touched, &.ng-invalid.submitted {
      border-color: red;
    }
  }
}
